<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ui.internal.WorkbenchPreferenceInitializer"/>
   </extension>
     <extension
           id="id1"
           point="org.eclipse.e4.workbench.model">
        <processor
              beforefragment="true"
              class="org.eclipse.ui.internal.CommandToModelProcessor">
        </processor>
        <processor
              beforefragment="true"
              class="org.eclipse.ui.internal.ContextToModelProcessor">
        </processor>
         <processor
              beforefragment="true"
              class="org.eclipse.ui.internal.BindingToModelProcessor">
        </processor>
     </extension>
   <extension point="org.eclipse.ui.themes">
      <themeElementCategory
         id="org.eclipse.ui.themes.CssTheme"
         label="%Other.defined.by.css.label"/>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.ui.internal.keys.show.ShowKeysToggleHandler"
            commandId="org.eclipse.ui.toggleShowKeys">
         <enabledWhen>
            <with
                  variable="activeWorkbenchWindow">
               <instanceof
                     value="org.eclipse.ui.IWorkbenchWindow">
               </instanceof>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
	   <command
	          id="org.eclipse.ui.internal.ide.commands.expandZip"
	          name="%command.name.expandZip"
	          defaultHandler="org.eclipse.ui.handlers.ExpandZipHandler">
	    </command>
	    <command
	          id="org.eclipse.ui.internal.ide.commands.collapseZip"
	          name="%command.name.collapseZip"
	          defaultHandler="org.eclipse.ui.handlers.CollapseZipHandler">
	    </command>  
   </extension>
   <extension
         point="org.eclipse.ui.menus">
	   <menuContribution
	          allPopups="false"
	          locationURI="popup:org.eclipse.ui.popup.any?after=additions">
	       <command
	             commandId="org.eclipse.ui.internal.ide.commands.expandZip"
	             label="%command.name.expandZip"
	             style="push">
	          <visibleWhen
	                checkEnabled="false">
	             <with
	                   variable="activeMenuSelection">
	                <iterate
	                      ifEmpty="false">
	                   <adapt
	                         type="org.eclipse.core.resources.IFile">
	                      <or>
	                         <test
	                               property="org.eclipse.core.resources.extension"
	                               value="zip">
	                         </test>
	                         <test
	                               property="org.eclipse.core.resources.extension"
	                               value="jar">
	                         </test>
	                      </or>
	                   </adapt>
	                   <not>
                           <test 
                                	property="org.eclipse.core.resources.linked"
                                 	value="true"/>
                            </not>
	                </iterate>
	             </with>
	          </visibleWhen>
	       </command>
	       <command
	             commandId="org.eclipse.ui.internal.ide.commands.collapseZip"
	             label="%command.name.collapseZip"
	             style="push">
	          <visibleWhen
	                checkEnabled="false">
	             <with
	                   variable="activeMenuSelection">
	                <iterate
	                      ifEmpty="false">
	                   <adapt
	                         type="org.eclipse.core.resources.IFolder">
	                      <or>
	                         <test
	                               property="org.eclipse.core.resources.extension"
	                               value="zip">
	                         </test>
	                         <test
	                               property="org.eclipse.core.resources.extension"
	                               value="jar">
	                         </test>
	                      </or>
	                   </adapt>
	                </iterate>
	             </with>
	          </visibleWhen>
	       </command>
	       </menuContribution>
   </extension>
</plugin>
